[submodule "scripts/addons_extern/animation_nodes"]
	path = scripts/addons_extern/animation_nodes
	url = git@github.com:JacquesLucke/animation_nodes.git
[submodule "scripts/addons_extern/Capsule"]
	path = scripts/addons_extern/Capsule
	url = git@github.com:Takanu/Capsule.git
[submodule "scripts/addons_extern/commotion"]
	path = scripts/addons_extern/commotion
	url = git@github.com:mrachinskiy/blender-addon-commotion.git
[submodule "scripts/addons_extern/easy-logging"]
	path = scripts/addons_extern/easy-logging
	url = git@github.com:Nikos-Prinios/easy-logging.git
[submodule "scripts/addons_extern/kinoraw_tools"]
	path = scripts/addons_extern/kinoraw_tools
	url = git@github.com:kinoraw/kinoraw_tools.git
[submodule "scripts/addons_extern/sverchok"]
	path = scripts/addons_extern/sverchok
	url = git@github.com:nortikin/sverchok.git
[submodule "scripts/addons_extern/tissue"]
	path = scripts/addons_extern/tissue
	url = git@github.com:alessandro-zomparelli/tissue.git